/*//////////////////////////////////////////////////////////////////////////////////////////////*/
.footer-container .grupo-1 {
    background-color: #0c2340;
}
.footer-container .grupo-1 div ul li a {
    display: flex;
    text-decoration: none;
    width: 20px;
    height: 20px;
    line-height: 25px;
    margin: 5px;
    
}
.footer-container .grupo-1 div {
    margin-right: 200px;
}
.footer-container .grupo-1 div {
    color: white;
    padding: 20px;
    margin-top: 20px;
    
}
.footer-container .grupo-1 div h2 {
    font-size: 18px;
    color: white;
}
.img-logo-footer {
    width: 120px;
  }